.folder {
}

.folderHead {
  height: 30px;
}

.title {
  font-size: 20px;
}

.body {
  display: none;
  gap: var(--padding);

  overflow: hidden;

  transition: height var(--fold-duration),
    display var(--fold-duration) allow-discrete;
}

@supports (height: calc-size(auto)) {
  .body {
    height: 0;
  }
}

.open > .body {
  display: block;
  height: calc-size(auto);
}

@starting-style {
  .open > .body {
    height: 0;
  }
}

.content {
  display: grid;
  gap: var(--gap);
  padding: var(--gap);
  padding-bottom: 0;
}

:global(.__outliner) > .folder:first-child > .body > .content {
  padding-bottom: var(--gap);
}
