<div class="nav">
  <div class="nav__pointer">
    <div class="nav__pointer__rotate">
      <div class="nav__pointer__fill"></div>
    </div>
  </div>
  <div class="nav__link">
    <div class="nav__link__circle"></div>
    <div class="nav__link__value">option</div>
  </div>
  <div class="nav__link">
    <div class="nav__link__circle"></div>
    <div class="nav__link__value">option</div>
  </div>
  <div class="nav__link">
    <div class="nav__link__circle"></div>
    <div class="nav__link__value">option</div>
  </div>
  <div class="nav__link">
    <div class="nav__link__circle"></div>
    <div class="nav__link__value">option</div>
  </div>
</div>
