@font-face {
  font-family: 'Neue';
  src: url('/2frames/fonts/Neue-Regular.ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Neue';
  src: url('/2frames/fonts/Neue-Medium.ttf');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Editoral';
  src: url('/2frames/fonts/Editoral-Light.otf');
  font-weight: 300;
  font-display: swap;
}

:root {
  --color-violet: #9274ed;
  --color-green: #54dd7b;
  --color-white: #f7eee5;
  --color-black: #000000;
}

html {
  font-size: calc(100vw / 1920 * 10);
}

body {
  font-family: 'Neue';
}
