nav {
  position: fixed;
  top: 0;
  z-index: 1111;
  left: 50%;
  transform: translateX(-50%);
}

.morph {
  width: 100%;
  height: 100%;
  display: grid;
  --morph-duration: 0.5s;
}

.morph__content {
  position: relative;
  grid-column: 1/1;
  grid-row: 1/1;

  width: 100%;
  height: 100%;

  background-color: white;

  overflow: hidden auto;
}

.morph__content.old {
  transition: var(--morph-duration);
  transform: translateY(-10%) scale(0.9);
  transform-origin: top;
}

.morph__content.new {
  z-index: 111;
  transform: translateY(10%) scale(1.1);
  opacity: 0;
}

.morph__content.in {
  transform: translateY(0%);
  transition: var(--morph-duration);
  opacity: 1;
}

.page {
  width: 100%;
  min-height: 150vh;

  display: flex;
  align-items: center;
  justify-content: center;
}
