#root {
  width: 100%;
  height: 100%;
}

.scroll {
  display: block;
  width: 100%;
  height: 100%;
  --gap: 10vmin;
  --loop: true;
}

.section {
  width: 100%;
  height: 100vh;
  background-color: tomato;
}

.buttons {
  position: fixed;
  z-index: 1;
}

e-scroll-bullet-buttons button {
  width: 3vmin;
  height: 3vmin;
  background-color: lightblue;
}

e-scroll-bullet-buttons button.current {
  width: 3vmin;
  height: 3vmin;
  background-color: lightgreen;
}

e-scroll-set-button,
e-scroll-step-button {
  display: block;
  width: 3vmin;
  height: 3vmin;
  background-color: pink;
}

e-scroll-segment {
  display: block;

  height: 40vh;
  background-color: black;
}
