html,
body {
  overflow: hidden;
}

.nav {
  position: fixed;
  top: 5vh;
  left: 50vw;

  display: flex;
  align-items: center;
  gap: 2rem;
}

.iframe {
  flex-shrink: 0;
  display: block;

  width: 100vw;
  height: 90vh;

  .scrolling & {
    pointer-events: none;
  }
}

.nav__link {
}

.scroll {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 10vh;

  overflow: hidden auto;
  /* scroll-behavior: smooth; */
}

.scroll__section {
  flex-shrink: 0;
  height: 80vh;
  background-color: lightblue;

  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll__box {
  display: block;

  width: 20vmin;
  height: 20vmin;

  background-color: tomato;
}

.slider {
  display: flex;
  gap: 2rem;
  overflow: auto hidden;

  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.slider__item {
  flex-shrink: 0;
  width: 20vmin;
  height: 20vmin;
  background-color: tomato;
  scroll-snap-align: start;
}
