e-notched {
  width: 50vw;
  height: 50vh;

  display: flex;
  align-items: center;
  justify-content: center;

  --notched-corner-radius: 3rem;
  --notched-corner-smoothing: 1;
  --notched-top-notches: 10.4rem 5rem 1.5rem 1rem, 25rem 5rem 1.5rem 1rem;
  --notched-bottom-notches: 10.4rem 5rem 1.5rem 1rem, 25rem 5rem 1.5rem 1rem;
  --notched-top-left-corner-angle-alpha: 190;
  /* overflow: hidden; */
  /* border-radius: 2rem; */
  overflow: hidden;

  background-color: tomato;
}

.box {
  position: absolute;
  top: 0;
  background-color: green;
  width: 20rem;
  height: 20rem;
}
