e-billboard {
  display: grid;
  --autoplay: 2s;

  @media (max-width: 768px) {
    --autoplay: false;
  }
}

button {
  width: 100px;
  height: 100px;
  display: block;
}

[data-billboard-item] {
  width: 100px;
  height: 100px;
  background-color: tomato;

  &.current {
    background-color: lightblue;
  }
}
