.scroll {
  width: 100%;
  height: 100%;
  overflow: hidden auto;
}

.section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  --progress-var: progress;
  --animation-var-type: target;
  --start-offset: -45vmin;

  width: 10vmin;
  height: 10vmin;

  background-color: tomato;

  transform: rotate(calc(var(--progress) * 180deg));
}
