nav {
  position: fixed;
  top: 0;
  z-index: 1111;
  left: 50%;
  transform: translateX(-50%);
}

.morph {
  width: 100%;
  height: 100%;
  display: grid;
}

.morph__content {
  position: relative;
  grid-column: 1/1;
  grid-row: 1/1;

  width: 100%;
  height: 100%;

  background-color: white;

  overflow: hidden auto;
}

.page {
  width: 100%;
  min-height: 150vh;

  display: flex;
  align-items: center;
  justify-content: center;
}
