section {
  position: relative;
  width: 100vw;
  height: 100dvh;

  display: flex;
  align-items: center;
  justify-content: center;
}

#clip-1 {
  position: absolute;
  left: 0;
  width: 50vw;
  height: 50vh;
  border: 5px solid green;
}
