.main-scroll {
  width: 100%;
  height: 100%;

  --gap: 10vw;
}

.main-slide {
  width: 100vw;
  height: 100dvh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: lightcyan;
}

.second-scroll {
  width: 100%;
  height: 60%;

  --axis: x;
  --gap: 10vw;
  --mouse-drag: true;

  --damping: 40;
  --stiffness: 500;
  --mass: 2;

  cursor: grab;
}

.grabbing .second-scroll {
  cursor: grabbing;
}

.second-slide {
  width: calc((100vw - var(--gap) * 2) / 3);
  height: 60dvh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: lightblue;
}
