e-scroll {
  --axis: x;
  --damping: 10;
  --auto-size: true;
  --gap: 3.2rem;
  --sections-in-view: 5;
  --sectional: true;
  --overflow: unset;
  --mouse-drag: true;
  --classes: false;
  --loop: true;
  --animation-var-type: target;
  /* --split: true; */

  display: block;
  height: max-content;

  user-select: none;
}

section {
  width: 100%;
  height: 20vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: tomato;
}

e-scroll-segment {
  --progress-arc-var: progress;
  --start-offset: calc(-100vw);
  --distance-offset: 100vw;

  display: block;

  width: 50%;
  height: 100%;
  background-color: blue;
  transform: scale(calc(1 + (1 - var(--progress))));
}
