.main-scroll {
  width: 100%;
  height: 100%;

  --gap: 10vw;
  --damping: 0.01;
  --mouse-drag: true;
}

.main-slide {
  width: 100vw;
  height: 100dvh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: tomato;
}

.second-scroll {
  width: 90%;
  height: 60%;

  --axis: x;
  --gap: 10vw;
  --damping: 0.01;
  --mouse-drag: true;

  overflow: hidden;
}

.second-slide {
  width: 90vw;
  height: 60dvh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: blue;
}
