e-select {
  --duration: 0.1s;
  width: 20vw;
  display: block;
}

.item {
  font-size: 5vmin;
}

.accordion .accordion .item {
  font-size: 3vmin;
}

.accordion .accordion .accordion .item {
  font-size: 2vmin;
}

.body {
  transition: height 0.3s;
  height: 0px;
  overflow: hidden;
}

e-select-option {
  --color-outline: red;
}
