.nav {
  --font-size: 5vmin;
  --circle-size: calc(var(--font-size) * 0.5);
  --gap: calc(var(--font-size) * 2);
  --duration: 0.7s;
  --bounce: cubic-bezier(0.34, 1.46, 0.4, 1);

  font-family: sans-serif;

  position: relative;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap);

  background-color: black;
}

.nav__pointer {
  position: absolute;
  top: 0;
  left: 0;

  width: var(--circle-size);
  height: var(--circle-size);

  transition: transform var(--duration) var(--bounce);

  transform: translate(var(--dx), var(--dy));
}

.nav__pointer__rotate {
  width: 100%;
  height: 100%;

  transition: transform var(--duration) var(--bounce);
  transform-origin: 0rem calc(var(--circle-size) * 0.7 * -1);

  transform: rotate(calc(var(--index) * 360deg));
}

.nav__pointer__fill {
  width: 100%;
  height: 100%;

  background-color: white;
  border-radius: 50%;
}

.nav__link {
  text-decoration: none;

  display: flex;
  align-items: center;
  gap: 2vmin;

  cursor: pointer;
}

.nav__link__circle {
  width: var(--circle-size);
  height: var(--circle-size);

  border: 0.3vmin solid white;
  border-radius: 50%;
}

.nav__link__value {
  text-transform: uppercase;
  font-size: var(--font-size);
  font-weight: 700;
  color: white;
}
