.content {
  display: grid;
  gap: 2vmin;
  font-size: 5vmin;
}

.parent {
  font-size: 100px;
}

e-popover {
  --duration: 0.5s;
  --history: true;
  display: none;
  opacity: 0;
  height: 0;
  overflow: hidden;

  transition: opacity var(--duration), height var(--duration);
}

e-popover.opened {
  height: var(--content-height);
}

e-popover-button {
  --type: toggle;
}

.fixed {
  position: fixed;
  top: 0;
  right: 0;
  width: 20vmin;
  height: 100vh;
  background-color: tomato;
}
