.flex {
  display: flex;
  gap: 2rem;
}

.wrap {
  position: relative;
  user-select: none;
}

e-popover {
  position: absolute;

  --duration: 0.5s;
  --history: true;
  --restore: true;
  /* --close-rest-in-group: true; */

  display: none;
  opacity: 0;

  transition: opacity var(--duration);
}

#x-1 {
  /* --click-outside: true; */
  --dominance: 10;
}

e-popover.x {
  /* --group: x; */
}

e-popover.y {
  /* --group: y; */
}

e-popover.triggered {
  display: block;
}

e-popover.opened {
  opacity: 1;
}

e-popover-button {
  --type: toggle;
  cursor: pointer;
}
