.wrap {
  width: 50%;
  height: 50%;

  display: grid;
  grid-template-columns: 1fr 1fr;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid greenyellow;
}

.right-content {
  width: 30vmin;
  height: 30vmin;

  border: 1px solid red;
}
