e-scroll {
  --axis: x;
  --infinite: true;
}

section {
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid red;
}

.wrap {
  width: 50%;
  height: 50%;

  display: grid;
  grid-template-columns: 1fr 1fr;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid greenyellow;
}

.content {
  width: 30vmin;
  height: 30vmin;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid red;

  transform: translate(50%, 50%);
}

.box {
  width: 10vmin;
  height: 10vmin;

  border: 1px solid tomato;
}
