e-scroll {
  --axis: y;
  --damping: 10;
  --auto-size: true;
  --loop: true;
  --gap: 3.2rem;
  --sections-in-view: 3;
  --sectional: true;
  --overflow: hidden;
  --mouse-drag: true;
  --drag-inertion: 1;
}

section {
  width: 100%;
  height: 100%;
  background-color: tomato;
}
